@model IEnumerable<MyHomework.Models.GradeList>

@{
    ViewBag.Title = "Index";
}
@if (User.IsInRole(MyHomework.Models.Roles.Teacher))
{
    <h2>GRADES</h2>

    <p>
        @Html.ActionLink("Create New Grade", "Create")
    </p>
    if (TempData.ContainsKey("SaveResult"))
    {
        <div class="col-lg-6 alert alert-danger fade in" role="alert">
            @ViewBag.SaveResult
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            @TempData["SaveResult"]
        </div>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GradeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GradeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignmentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Points)
                </td>
                <td>
                    @Html.ActionLink("Update Grade", "Edit", new { id = item.GradeId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.GradeId }) |
                    @Html.ActionLink("Delete Grade", "Delete", new { id = item.GradeId })
                </td>
            </tr>
        }

    </table>
}

@if (User.IsInRole(MyHomework.Models.Roles.Student))

{
    <h2>MY GRADES</h2>

    <table class="table">
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.GradeId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.AssignmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.GradeId)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.AssignmentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Points)
                </td>
            </tr>
        }

    </table>
}
